<div class="row">
	<div class="small-12 columns">
		<h1>Websites</h1>

		<p><%= paginate @websites %></p>


		<table class="responsive">
		  <thead>
		    <tr>
			  <th>id</th>
		      <th>url</th>
			  <th>classification</th>
			  <th>school_id</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @websites.each do |website| %>
		      <tr>
				<td><%= website.id %></td>
		        <td><%= website.url %></td>
				<td><%= website.classification %></td>
				<td><%= website.school_id %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<br>

		<p><%= paginate @websites %></p>

	</div>
</div>