<div class="row">
	<%= render 'home/messages' %>
</div>

<div class="row">
	<div class="small-8 medium-6 small-centered medium-centered columns">

		<h2>Edit Your Account Details</h2>


		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true %>
			</div>

			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>

			<div class="field">
				<label for"user_password">New Password</label>
				<em>(leave blank if you don't want to change it)</em>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<div class="field">
				<label for="user_password_confirmation">New Password Confirmation</label>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label :current_password %> <em>(we need your current password to confirm your changes)</em>
				<%= f.password_field :current_password, autocomplete: "off" %>
			</div>

			<div class="actions">
				<%= f.submit "Update", :class => "radius button small" %>
			</div>
		<% end %>

	</div>
</div>