<div class="row justify-content-center">
	<div class="col-sm-11 col-md-8">
		<h3>
			<%= link_to "Admin", admin_index_path %> /
			<%= link_to "Manage Users", admin_users_path %> /
			<em><%= @user.email %></em>
		</h3>

		<%= form_for(@user, url: admin_update_user_path(@user) ) do |f| %>
			<% if @user.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@user.errors.count, "error") %> prohibited this lesson from being saved:</h2>

					<ul>
						<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="field">
				<%= f.check_box :active %>
				<%= f.label :active %>
			</div>
			<div class="field">
				<%= f.check_box :admin %>
				<%= f.label :admin %>
			</div>
			<div class="field">
				<%= f.check_box :educator %>
				<%= f.label :educator %>
			</div>

			<div class="actions">
				<%= f.submit :class => "btn btn-primary" %>
			</div>
		<% end %>

	</div>
</div>