<div class="row">

	<div class="medium-8 small-11 small-centered columns">
		<h4><%= link_to "Admin", admin_index_path %> / Manage Users</h4>

		<p><%= paginate @users %></p>

		<table>
		  <thead>
		    <tr>
			  <th>ID</th>
		      <th>Email</th>
			  <th>Sign Up Date</th>
		      <th>Done</th>
			  <th>Admin</th>
			  <th>Educator</th>
			  <th>Active</th>
			  <th>Manage</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.email %></td>
					<td><%= user.created_at.strftime("%b %e, %Y")%></td>
					<td>
						<% if user.done %>
							<span class='correct'>&#x2713;</span>
						<% else %>
							-
						<% end %>
					</td>

					<td>
						<% if user.admin %>
							<span class='correct'>&#x2713;</span>
						<% else %>
							-
						<% end %>
					</td>
					<td>
						<% if user.educator %>
							<span class='correct'>&#x2713;</span>
						<% else %>
							-
						<% end %>
					</td>

					<td>
						<% if user.active %>
							<span class='correct'>&#x2713;</span>
						<% else %>
							<strong>
								<span class='invalid'>&#x2717;</span>
							</strong>
						<% end %>
					</td>

					<td><%= link_to "Edit", admin_edit_user_path(user) %></td>
				</tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>