<script>
	var colors = <%= @colors.to_json.html_safe %>

	function drawTable() {
		// google table
		var table = new google.visualization.Table(document.getElementById('table_div'));
		var data = <%= @table_data.to_json.html_safe %>
		var dataTable = google.visualization.arrayToDataTable(data);
		table.draw(dataTable);
	}

	function drawCharts() {
		//------------------------------------------------------------------------------
		// unified chart

		// google object
		var master_chart = new google.charts.Bar(document.getElementById('master_chart'));
		// Set chart options
		var master_options = {chart: {title: 'Basic Learner Metrics by Lesson'}, 'width': 800, 'height': 500 };
		master_options.colors = [colors["Correct Attempts"], colors["Valid Attempts"], colors["Invalid Attempts"]]
		// unified chart data
		var master_data = <%= @master_chart_data.to_json.html_safe %>
		// generate a google dataTable object
		var master_dataTable = google.visualization.arrayToDataTable(master_data);

		// draw the chart
		master_chart.draw(master_dataTable, master_options);


		//------------------------------------------------------------------------------
		// individual charts

		// individual chart data (JSON)
		var data = <%= @chart_data.to_json.html_safe %>
		for (key in data)
		{
			// google object
			var barchart = new google.charts.Bar(document.getElementById('chart_div_' + key));
			// Set chart options
			var options = { chart: {title: key + ' by Exercise'}, 'width': 800, 'height': 500, colors: [colors[key]] };
			// generate a google dataTable object
			var dataTable = google.visualization.arrayToDataTable(data[key]);

			// draw the single-data chart
			barchart.draw(dataTable, options);
		}
	}

	$(document).on('turbolinks:load', function(){
		// see: http://stackoverflow.com/questions/18801062/ruby-on-rails-javascript-not-loading-on-link-to
		google.load("visualization", "1.1", {packages:["bar"], callback: drawCharts});
		google.load("visualization", "1", {packages:["table"], callback: drawTable});
	});
</script>

<div class="row justify-content-center">

	<div class="col-sm-11 col-md-8">
		<h3><%= link_to "Educator Panel", educator_index_path %> / Exercises </h3>

		<p><%= paginate @exercises %></p>
	</div>

	<div class="col-sm-11 col-md-8">
		<div id="table_div"></div>
	</div>

	<br><br>
	<div class="col-sm-11 col-md-8">
		<div id="master_chart"></div>
	</div>


	<% @columns.each do |column| %>
		<br><br><br>
		<div class="col-sm-11 col-md-8">
			<div id="chart_div_<%= column %>"></div>
		</div>
	<% end %>

</div>