<script>
	google.load("visualization", "1", {packages:["table"]});
	google.load("visualization", "1.1", {packages:["bar"]});

	google.setOnLoadCallback(drawTable);

	var colors1 = ["#54be5e", "#60a1f4", "#f1656a"]
	var colors2 = {
		"Invalid Attempts": "#f1656a",
		"Valid Attempts": "#60a1f4",
		"Correct Attempts": "#54be5e",
		"Total Attempts": "#ec814d",
		"Unique Learners": "#9881f5"
	}

    function drawTable() {
		//------------------------------------------------------------------------------
		// unified chart

		// google object
        var master_chart = new google.charts.Bar(document.getElementById('master_chart'));
		// Set chart options
		var master_options = {'title': 'Learner Metrics', 'width': 800, 'height': 600, colors: colors1};
		// unified chart data
		var master_data = <%= @unified_table_data.to_json.html_safe %>
		// generate a google dataTable object
		var master_dataTable = google.visualization.arrayToDataTable(master_data);

		// draw the chart
	    master_chart.draw(master_dataTable, master_options);


		//------------------------------------------------------------------------------
		// individual charts

		// individual chart data (JSON)
		var data = <%= @table_data.to_json.html_safe %>
		var i = 0;
		for (key in data)
		{
			// google object
			var barchart = new google.charts.Bar(document.getElementById('chart_div_' + key));
			// Set chart options
			var options = { 'title': key + ' by Exercise', 'width': 800, 'height': 600, colors: [colors2[key]] };
			// generate a google dataTable object
			var dataTable = google.visualization.arrayToDataTable(data[key]);

			// draw the single-data chart
			barchart.draw(dataTable, options);
		}
    }
</script>

<div class="row">

	<div class="medium-8 small-11 small-centered columns">
		<h3><%= link_to "Educator Panel", educator_index_path %> / Exercises </h3>

		<p><%= paginate @exercises %></p>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Total Attempts</th>

					<th><span class="correct">Correct</span></th>
					<th><span class="valid">Valid</span></th>
					<th><span class="invalid">Invalid</span></th>

					<th>Unique Learners</th>
				</tr>
			</thead>

			<tbody>
			    <% @exercises.each do |exercise| %>
					<tr>
						<td><%= exercise.lesson_id %>.<%= exercise.dummy_id %></td>
						<td><%= exercise.queries.size %></td>

						<%
							@correct	= exercise.queries.where(status: 2)
							@valid		= exercise.queries.where(status: 1)
							@invalid	= exercise.queries.where(status: 0)
						%>

						<td>
							<span class="bigger"><%= @correct.size %> </span>
							<span class="smaller"> (<%= ((@correct.size / exercise.queries.size.to_f)*100).round(1) %>%) </span>
						</td>
						<td>
							<span class="bigger"><%= @valid.size %> </span>
							<span class="smaller"> (<%= ((@valid.size / exercise.queries.size.to_f)*100).round(1) %>%) </span>
						</td>
						<td>
							<span class="bigger"><%= @invalid.size %> </span>
							<span class="smaller"> (<%= ((@invalid.size / exercise.queries.size.to_f)*100).round(1) %>%) </span>
						</td>

						<td>
							<%= exercise.queries.select(:user_id).distinct.count %>
						</td>
					</tr>
			    <% end %>
			</tbody>
		</table>
	</div>

	<div class="medium-8 small-11 small-centered columns">
		<div id="master_chart"></div>
	</div>


	<% @columns.each do |column| %>
		<br><br><br><br><br>
		<div class="medium-8 small-11 small-centered columns">
			<div id="chart_div_<%= column %>"></div>
		</div>
	<% end %>

</div>