<script type="text/javascript">
	google.load("visualization", "1", {packages:["table"]});
    google.load("visualization", "1.1", {packages:["bar"]});

	google.setOnLoadCallback(drawTable);

	var colors1 = ["#54be5e", "#60a1f4", "#f1656a"]
	var colors2 = ["#ec814d", "#54be5e", "#60a1f4", "#f1656a", "#9881f5"]

    function drawTable() {

		//------------------------------------------------------------------------------
		// unified chart
		// var data = [["Lesson ID", "Total Attempts", "Correct Attempts", "Valid Attempts", "Invalid Attempts", "Unique Learners"]]
		var data = [["Lesson", "Correct Attempts", "Valid Attempts", "Invalid Attempts", {role: 'annotation'}]]

		// google object
        var master_chart = new google.charts.Bar(document.getElementById('master_chart'));
		// Set chart options
		var options = {'title': 'Learner Metrics', 'width': 800, 'height': 600, colors: colors1};

		<% @lessons.each do |lesson| %>
			var temp = [];
			temp.push(  <%= lesson.id %> );
			// temp.push(  <%= Lesson.joins(exercises: :queries).where(id: lesson.id).count %> );
			temp.push( 	<%= Lesson.joins(exercises: :queries).where(id: lesson.id, queries: {status: 2}).count %> );
			temp.push( 	<%= Lesson.joins(exercises: :queries).where(id: lesson.id, queries: {status: 1}).count %> );
			temp.push( 	<%= Lesson.joins(exercises: :queries).where(id: lesson.id, queries: {status: 0}).count %> );
			temp.push( "Lesson <%= lesson.id %>")
			// temp.push(  <%= Lesson.joins(exercises: {queries: :user}).where(id: lesson.id).select(:user_id).distinct.count %> );

			data.push(temp)
		<% end %>

		var master_dataTable = google.visualization.arrayToDataTable(data);

		// draw the single-data chart
	    master_chart.draw(master_dataTable, options);



		//------------------------------------------------------------------------------
		// chart by chart
		<% @columns.each_with_index do |column, i| %>

			var data = new google.visualization.DataTable();

			data.addColumn( 'string', 'Exercise ID');
			data.addColumn('<%= column[:type] %>', '<%= column[:name] %>');

			data.addRows([
				<% @exercises.each do |exercise| %>
				[
					'<%= exercise.lesson_id %>.<%= exercise.dummy_id %>',

					<% if i == 0 %>
						<%= exercise.queries.size %>,
					<% elsif i == 1 %>
						<%= exercise.queries.where(status: 2).size %>,
					<% elsif i == 2 %>
						<%= exercise.queries.where(status: 1).size %>,
					<% elsif i == 3 %>
						<%= exercise.queries.where(status: 0).size %>,
					<% elsif i == 4 %>
						<%= exercise.queries.select(:user_id).distinct.count %>,
					<% end %>
				],
				<% end %>
			]);

			// google object
	        var barchart = new google.charts.Bar(document.getElementById('chart_div_<%= column[:name] %>'));
			// Set chart options
			var options = {'title': '<%= column[:name] %> by Exercise', 'width': 800, 'height': 600, colors: [colors2[<%=i%>]] };

			// draw the single-data chart
			barchart.draw(data, options);

		<% end %>
    }
</script>

<div class="row">

	<div class="medium-8 small-11 small-centered columns">
		<h3><%= link_to "Educator Panel", educator_index_path %> / Exercises </h3>

		<p><%= paginate @exercises %></p>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Total Attempts</th>

					<th><span class="correct">Correct</span></th>
					<th><span class="valid">Valid</span></th>
					<th><span class="invalid">Invalid</span></th>

					<th>Unique Learners</th>
				</tr>
			</thead>

			<tbody>
			    <% @exercises.each do |exercise| %>
					<tr>
						<td><%= exercise.lesson_id %>.<%= exercise.dummy_id %></td>
						<td><%= exercise.queries.size %></td>

						<%
							@correct	= exercise.queries.where(status: 2)
							@valid		= exercise.queries.where(status: 1)
							@invalid	= exercise.queries.where(status: 0)
						%>

						<td>
							<span class="bigger"><%= @correct.size %> </span>
							<span class="smaller"> (<%= ((@correct.size / exercise.queries.size.to_f)*100).round(1) %>%) </span>
						</td>
						<td>
							<span class="bigger"><%= @valid.size %> </span>
							<span class="smaller"> (<%= ((@valid.size / exercise.queries.size.to_f)*100).round(1) %>%) </span>
						</td>
						<td>
							<span class="bigger"><%= @invalid.size %> </span>
							<span class="smaller"> (<%= ((@invalid.size / exercise.queries.size.to_f)*100).round(1) %>%) </span>
						</td>

						<td>
							<%= exercise.queries.select(:user_id).distinct.count %>
						</td>
					</tr>
			    <% end %>
			</tbody>
		</table>
	</div>

	<div class="medium-8 small-11 small-centered columns">
		<div id="master_chart"></div>
	</div>


	<% @columns.each do |column| %>
		<br><br><br><br><br>
		<div class="medium-8 small-11 small-centered columns">
			<div id="chart_div_<%= column[:name] %>"></div>
		</div>
	<% end %>

</div>
