<div id="navigation">	

		<% if params[:controller] == "animals" %>
			<a class="currentNav" href="<%= animals_path %>">data</a>			
		<% else %>
			<a class="nav" href="<%= animals_path %>">data</a>
		<% end %>
		
		<% if params[:controller] == "queries" %>
			<a class="currentNav" href="<%= queries_path %>">queries</a>			
		<% else %>
			<a class="nav" href="<%= queries_path %>">queries</a>
		<% end %>
		
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'nav') %>        
		<% else %>
			<% if params[:controller] == "devise/sessions" %>
				<%= link_to('Login', new_user_session_path, :class => 'currentNav')  %>
			<% else %>
				<%= link_to('Login', new_user_session_path, :class => 'nav')  %>
			<% end %>
		<% end %>
</div>