<div class="row">
	<%= render 'messages' %>
</div>

<div class="row">
	<div class="medium-offset-2 medium-8 small-12 small-centered columns">
		<h1>Script Kitty Wrap-Up</h1>

		<p>
			You've done so very well; you should be very proud of yourself!
		</p>
		<p>
			Just think of all the things you've learned along the way:
		</p>
		<hr>

		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">1</span>
			</div>
			<div class="medium-9 small-11 columns end">
				In <%= link_to "Lesson 1", lesson_path(1) %> we learned to retrieve all the information available for
				a table with a simple four word query.
<textarea class='raw-sql' style='height:1em'>SELECT *
FROM schools</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">2</span>
			</div>
			<div class="medium-9 small-11 columns end">
				In <%= link_to "Lesson 2", lesson_path(2) %> we started to learn how to filter results
				by performing direct matching using the <strong>=</strong> operator.
<textarea class='raw-sql' style='height:1em'>SELECT *
FROM schools
WHERE city = 'Houston'</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">3</span>
			</div>
			<div class="medium-9  small-11 columns end">
				In <%= link_to "Lesson 3", lesson_path(3) %> we refined our ability to filter results by searching through
				segments of text using the <strong>LIKE</strong> operator.
<textarea class='raw-sql' style='height:1em'>SELECT *
FROM websites
WHERE url LIKE '%commonapp%'</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">4</span>
			</div>
			<div class="medium-9 small-11 columns end">
				We were introduced to the idea of a query with more than one condition in
				<%= link_to "Lesson 4", lesson_path(4) %> when we learned about the <strong>OR</strong>
				keyword.  Using <strong>OR</strong> tends to expand result sets.
<textarea class='raw-sql' style='height:1em'>SELECT *
FROM schools
WHERE chief like '%Peter%'
OR chief like '%Paul%'
OR chief like '%Mary%'</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">5</span>
			</div>
			<div class="medium-9 small-11 columns end">
				We realized that queries could be <em>really</em> refined by chaining conditions
				together with the <strong>AND</strong> keyword in <%= link_to "Lesson 5", lesson_path(5) %>.
				Using <strong>AND</strong> tends to shrink result sets.
<textarea class='raw-sql' style='height:1em'>SELECT *
FROM schools
WHERE city = 'Harrisburg'
AND state = 'PA'</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">6</span>
			</div>
			<div class="medium-9 small-11 columns end">
				In <%= link_to "Lesson 6", lesson_path(6) %> we discovered how to filter using the
				<em>does not equal</em> operator, represented in SQL as <strong>&lt;&gt;</strong>
<textarea class='raw-sql' style='height:1em'>SELECT *
FROM schools
WHERE city = 'Houston'
AND STATE &lt;&gt; 'TX'</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">7</span>
			</div>
			<div class="medium-9 small-11 columns end">
				<%= link_to "Lesson 7", lesson_path(7) %> showed us how to retrieve specific columns from
				database tables.  This can be helpful when writing queries for tables with lots of
				possible columns.
<textarea class='raw-sql' style='height:1em'>SELECT city, state, name
FROM schools
WHERE chief like '%Graham%'</textarea>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="medium-1 small-1 columns">
				<span class="wrap-up-bullet">8</span>
			</div>
			<div class="medium-9 small-11 columns end">
				Finally, <%= link_to "Lesson 8", lesson_path(8) %> was a doozy.  We learned how to retrieve
				results from more than a single table at a time.  Along the way, we learned how to avoid
				column names and cartesian products.
<textarea class='raw-sql' style='height:1em'>SELECT schools.name, website.url
FROM schools, websites
WHERE schools.city = 'University Park'
AND websites.classification = 'general'
AND websites.school_id = school.id</textarea>
			</div>
		</div>
		<hr>
		<p>
			That concludes the Lessons for now.  Thank you so much for purrr-ticipating!
		</p>

		<p>
			If you're looking to learn more about SQL or how databases work, you should
			check out the <%= link_to "About", about_url %> page for additional educational resources.
		</p>

		<h2>Thank you!</h2>
		<br>
	</div>
</div>