<div id="exercise-header">
	<div class="row">
		<div class="small-9 small-centered columns">
			<h2>Lesson <%= @lesson.id %></h2>
			<p>
				<%= @lesson.title.html_safe %>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<%= render 'layouts/messages' %>
</div>

<div class="row">
	<div class="small-9 small-centered columns">
		<h4><strong>Objective:</strong>
		<%= @lesson.objective.html_safe %></h4>
		<hr>

		<%= @lesson.body.html_safe %>
		
		
		<hr>
		<h4><%= link_to "Try Exercise " + @lesson.exercises.first.id.to_s, exercise_path(@lesson.exercises.first) %></h4>
		<br><br><br>
	</div>
</div>