<div id="exercise-header">
	<div class="row">
		<div class="small-12 columns">
			<h2>Lesson <%= @lesson.id %></h2>
			<p>
				<%= raw @lesson.title %>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<%= render 'layouts/messages' %>
</div>

<div class="row">
	<div class="small-12 columns">
		<h4><strong>Objective:</strong>
		<%= raw @lesson.objective %></h4>
		<hr>

		<%= raw @lesson.body %>
		
		
		<hr>
		<h4><%= link_to "Try Exercise " + @lesson.exercises.first.id.to_s, exercise_path(@lesson.exercises.first) %></h4>
		
	</div>
</div>