<div id="exercise-header">
	<div class="row justify-content-center">
		<div class="col-sm-11 col-md-9 col-lg-8 col-xl-6">
			<h2>Lesson <%= @lesson.id %></h2>
			<p><%= @lesson.title.html_safe %></p>
		</div>
	</div>
</div>

<div class="row">
	<%= render 'layouts/messages' %>
</div>

<div class="row justify-content-center">
	<div class="col-sm-11 col-md-9 col-lg-8 col-xl-6">
		<h4><strong>Objective:</strong>
		<%= @lesson.objective.html_safe %></h4>
		<hr>

		<%= @lesson.body.html_safe %>

		<hr>
    <% if current_user %>
  		<h4>
  			<%= link_to "Try Exercise " + @lesson.id.to_s + "." + @lesson.exercises.first.dummy_id.to_s, lesson_exercise_path(@lesson, @lesson.exercises.first) %>
  		</h4>
    <% else %>
      <h4>
        <%= link_to('Login', new_user_session_path)  %> or <%= link_to 'Create A New Account', new_user_registration_path %> to try Exercise <%= @lesson.id.to_s + ".1" %>
      </h4>
    <% end %>
		<br><br><br>
	</div>
</div>