<div id="exercise-header">
	<div class="row">
		<div class="col-sm-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
			<h2>Lesson <%= @lesson.id %></h2>
			<p><%= @lesson.title.html_safe %></p>
		</div>
	</div>
</div>

<div class="row">
	<%= render 'layouts/messages' %>
</div>

<div class="row">
	<div class="col-sm-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
		<h4><strong>Objective:</strong>
		<%= @lesson.objective.html_safe %></h4>
		<hr>

		<%= @lesson.body.html_safe %>

		<hr>
		<h4>
			<%= link_to "Try Exercise " + @lesson.id.to_s + "." + @lesson.exercises.first.dummy_id.to_s, lesson_exercise_path(@lesson, @lesson.exercises.first) %>
		</h4>
		<br><br><br>
	</div>
</div>