<div id="exercise-footer">
	<div class="row collapse">
		
		
		<div class="small-3 columns">
			<br>
			<span class="visual-builder-footer-column">TABLES</span>
			
			<div id="tableCorral" class="corral">
				<% for table in ["Schools", "Locales", "Controls"] %>
					
					<div class="table-block-container" data-table="<%= table %>">
						<div class="draggable table-block" data-blockType="table" data-table="<%= table %>">
							<%= image_tag "visual-interface/table.png" %>
							<span class="tablename"><%= table %></span>
						</div>
					</div><br>
					
				<% end %>	
			</div>
		</div>
		
		<div class="small-4 columns">
			<br>
			<span class="visual-builder-footer-column">COLUMNS</span>

			<% for table in ["Schools", "Locales", "Controls"] %>

				<div class="corral columnCorral" data-table="<%= table %>" style="float:none;">
	
					<div class="draggable column-block" data-blockType="column" data-table="<%= table %>">
						<%= image_tag "visual-interface/column.png" %>
						<span class="tablename"><%= table %></span>
						<span class="columnname asterisk"> * </span>
					</div><br>
				
					<% for col in table.singularize.constantize.column_names %>
						<% if col != "created_at" and col != "updated_at" %>
							<div class="draggable column-block" data-blockType="column" data-table="<%= table %>">
								<%= image_tag "visual-interface/column.png" %>
								<span class="tablename"><%= table %></span>
								<span class="columnname"><%= col %></span>
							</div><br>
						<% end %>
					<% end %>
					
				</div>
				
			<% end %>
		</div>
		
		
		<div class="small-2 columns">
			<br>
			<span class="visual-builder-footer-column">OPERATORS</span>
			<div id="operatorCorral" class="corral">
				<% for op in @operators %>
					<div oid="<%= op.id %>" class="draggable operator-block" data-blockType="operator">
						<%= image_tag "visual-interface/operator.png" %>
						<p class="<%= op.name %>"><%= op.html_representation.html_safe %></p>
					</div><br>
				<% end %>
			</div>
		</div>
		
		<div class="small-2 columns end">
			<br>
			<span class="visual-builder-footer-column">EXTENDERS</span>
			<div id="complexOperatorCorral" class="corral">

				<div class="draggable complexOperator-block and-block" data-blockType="and">
					<%= image_tag "visual-interface/and.png" %>
					<p>and</p>
				</div><br>
				<div class="draggable complexOperator-block or-block" data-blockType="or">
					<%= image_tag "visual-interface/or.png" %>
					<p>or</p>
				</div>
			</div>
		</div>
		
	</div><!-- row -->
</div> <!-- footer -->