<h1>queries</h1>

<table>
  <thead>
    <tr>
      <th>Dummy ID</th>
      <th>Formatted SQL</th>
      <th>Raw SQL</th>
      <th>HTML table</th>
      <th>User ID</th>
	  <th>Exercise ID</th>
      <th colspan="3">manage</th>
    </tr>
  </thead>

  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= query.dummy_id %></td>
        <td><%= query.formatted_sql %></td>
        <td><%= query.raw_sql %></td>
        <td><%= query.html_table %></td>
        <td><%= query.user.id %></td>
		<td><%= query.exercise.id %></td>
        <td><%= link_to 'Show', query %></td>
        <td><%= link_to 'Edit', edit_query_path(query) %></td>
        <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Query', new_query_path %>
