<h1>queries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dummy</th>
      <th>Formatted sql</th>
      <th>Raw sql</th>
      <th>Html table</th>
      <th>User</th>
      <th colspan="3">manage</th>
    </tr>
  </thead>

  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= query.name %></td>
        <td><%= query.dummy_id %></td>
        <td><%= query.formatted_sql %></td>
        <td><%= query.raw_sql %></td>
        <td><%= query.html_table %></td>
        <td><%= query.user %></td>
        <td><%= link_to 'Show', query %></td>
        <td><%= link_to 'Edit', edit_query_path(query) %></td>
        <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Query', new_query_path %>
