<div class="row">
	<%= render 'home/messages' %>
</div>

<div class="row">
	<div class="col-10 text-center">
		<h1>My Progress</h1>
	</div>
</div>


<div class="row">
	<% @lessons.each_with_index do |lesson, i| %>
		<% if i%2==0 %>
			<div class="col-md-1 col-lg-2"></div>
		<% end%>

		<div class="col-sm-6 col-md-5 col-lg-4">
			<h3>Lesson <%= lesson.id %></h3>
			<p class="subtitle"><%= lesson.title.html_safe %></p>

			<ul>
		    <% lesson.exercises.each do |exercise| %>
				<li>
				<% if @queries[lesson.id][exercise.dummy_id] %>
					<%= link_to "Exercise #{lesson.id}.#{exercise.dummy_id}", query_path(@queries[lesson.id][exercise.dummy_id]), :title => exercise.description %> -
					<%= give_meaning_to(@queries[lesson.id][exercise.dummy_id].status).html_safe %>
				<% else %>
					<%= link_to "Exercise #{lesson.id}.#{exercise.dummy_id}", lesson_exercise_path(lesson, exercise), :title => exercise.description %> -
					<em>not attempted yet</em>
			    <% end %>
				</li>
			<% end %>
			</ul>
		</div>

		<% if i%2==1 %>
			<div class="col-md-1 col-lg-2"></div>
		<% end%>
	<% end %>
</div>