<div class="row">
	<% if current_user.admin %>
		<div class="small-12 columns">

			<h1>All Queries</h1>

			<table>
			  <thead>
			    <tr>
				  <th>ID</th>
			      <th>Raw SQL</th>
				  <th>Status</th>
			      <th>User Email</th>
				  <th>Exercise</th>
			      <th>manage</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @queries.each do |query| %>
			      <tr>
					<td><%= query.id %></td>
			        <td><%= query.raw_sql %></td>
					<td><%= give_meaning_to(query.status).html_safe %></td>
			        <td><%= query.user.email %></td>
					<td><%= query.exercise.lesson_id.to_s + "." + query.exercise.dummy_id.to_s %></td>
			        <td><%= link_to 'Show', query %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>



	<% else %>

		<div class="row">
			<div class="small-8 small-offset-1 end columns">
				<h1>My Progress</h1>
			</div>
		</div>

		<div class="small-5 small-offset-1 columns">

			<% for lesson in @lessons_first_half %>
				<h3>Lesson <%= lesson.id %></h3>
				<p class="subtitle"><%= lesson.title.html_safe %></p>

				<ul>
			    <% for i in 0..lesson.exercises.size-1 %>
					<li>
					<% if @queries[lesson.id][i] %>
						<%= link_to "Exercise " + lesson.id.to_s + "." + (i+1).to_s, query_path(@queries[lesson.id][i]) %> -
						<%= give_meaning_to(@queries[lesson.id][i].status).html_safe %>
					<% else %>
						<% exercise = Exercise.where(lesson_id: lesson.id)[i] %>
						<%= link_to "Exercise " + lesson.id.to_s + "." + (i+1).to_s, lesson_exercise_path(lesson, exercise) %> -
						<em>not attempted yet</em>
				    <% end %>
					</li>
				<% end %>
				</ul>

			<% end %>
		</div>

		<div class="small-5 end columns">

			<% for lesson in @lessons_second_half %>
				<h3>Lesson <%= lesson.id %></h3>
				<p class="subtitle"><%= lesson.title.html_safe %></p>

				<ul>
			    <% for i in 0..lesson.exercises.size-1 %>
					<li>
					<% if @queries[lesson.id][i] %>
						<%= link_to "Exercise " + lesson.id.to_s + "." + (i+1).to_s, query_path(@queries[lesson.id][i]) %> -
						<%= give_meaning_to(@queries[lesson.id][i].status).html_safe %>

					<% else %>
						<% exercise = Exercise.where(lesson_id: lesson.id)[i] %>
						<%= link_to "Exercise " + lesson.id.to_s + "." + (i+1).to_s, lesson_exercise_path(lesson, exercise) %> -
						<em>not attempted yet</em>
				    <% end %>
					</li>
				<% end %>
				</ul>

			<% end %>
		</div>


	<% end %>
</div>