<p id="notice"><%= notice %></p>

<p>
  <strong>Dummy:</strong>
  <%= @query.dummy_id %>
</p>

<p>
  <strong>Formatted sql:</strong>
  <%= @query.formatted_sql %>
</p>

<p>
  <strong>Raw sql:</strong>
  <%= @query.raw_sql %>
</p>

<p>
  <strong>Html table:</strong>
  <%= @query.html_table %>
</p>

<p>
  <strong>User:</strong>
  <%= @query.user %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
