<div class="exercise-header">
	<div class="row">
		<div class="small-12 columns">
			<h2>Exercise <%= @query.exercise.lesson.id.to_s+ "." + @query.exercise.dummy_id.to_s %> Results</h2>
	
			<p>
			  <strong>Question:</strong>
			  <%= @query.exercise.question.html_safe %>
			</p>
		</div>
	</div>
</div>


<div class="row">
	<%= render 'queries/messages' %>
</div>


<div class="row">
	<div id="query-results" class="small-12 columns">

		<p>
			<strong>Your Query:</strong>
		 	<textarea class="raw-sql" style="height:1em"><%= @query.raw_sql %></textarea>
		</p>


		<hr>
		
		<p>
			<strong>Query Status:</strong>
			<%= give_meaning_to( @query.status ).html_safe %>
		</p>
		
		<hr>

		<p>
			<strong>Query Results:</strong>
			
			<% if @query.truncated_results == 1 %>
				<div data-alert class="alert-box info radius small-4">
				<strong>Please note:</strong><br>
				There are <%= @query.result_size %> records in this result set!<br>
				We're only showing the first 500.</div>
			<% end %>
			
			<%= @query.html_table.html_safe %>
		</p>
		
		<hr>
		
		<%= link_to 'Try this exercise again', lesson_exercise_path(@query.exercise.lesson, @query.exercise) %> or 
		<%= link_to 'edit your answer', lesson_exercise_path( @query.exercise.lesson, @query.exercise, {:raw_sql => @query.raw_sql} ) %>.
	</div>
</div>