<div class="exercise-header">
	<div class="row">
		<div class="small-12 columns">
			<h2>Exercise <%= @query.exercise.id %></h2>
	
			<p>
			  <strong>Question:</strong>
			  <%= raw @query.exercise.question %>
			</p>
		</div>
	</div>
</div>


<div class="row">
	<%= render 'queries/messages' %>
</div>


<div class="row">
	<div class="small-12 columns">

		<p>
			<strong>Query:</strong>
		 	<span class="raw-sql">
			  	<pre><%= @query.raw_sql %></pre>
			<span>
		</p>

		<hr>

		<p>
		  <strong>Results:</strong>
		  <%= raw @query.html_table %>
		</p>


		<hr>
		
		<%= link_to 'Try this exercise again', exercise_path(@query.exercise.id	) %>
	</div>
</div>