<div class="exercise-header">
	<div class="row">
		<div class="small-12 columns">
			<h2>Exercise <%= @query.exercise.id %> Results</h2>
	
			<p>
			  <strong>Question:</strong>
			  <%= raw @query.exercise.question %>
			</p>
		</div>
	</div>
</div>


<div class="row">
	<%= render 'queries/messages' %>
</div>


<div class="row">
	<div id="query-results" class="small-12 columns">

		<p>
			<strong>Your Query:</strong>
		 	<textarea id="raw-sql" style="height:1em"><%= @query.raw_sql %></textarea>
		</p>


		<hr>
		
		<p>
			<strong>Query Status:</strong>
			<%= raw give_meaning_to( @query.status ) %>
		</p>
		
		<hr>

		<p>
			<strong>Query Results:</strong>
			
			<% if @query.truncated_results == 1 %>
				<div data-alert class="alert-box info radius small-4">
				<strong>Please note:</strong><br>
				There are <%= @query.result_size %> records in this result set!<br>
				We're only showing the first 500.</div>
			<% end %>
			
			<%= raw @query.html_table %>
		</p>
		
		<hr>
		
		<%= link_to 'Try this exercise again', exercise_path(@query.exercise.id	) %> or 
		<%= link_to 'edit your answer', exercise_path( @query.exercise.id, {:raw_sql => @query.raw_sql} ) %>.
	</div>
</div>