<div class="exercise-header">
	<div class="row">
		<div class="small-12 columns">
			<h2>Exercise <%= @exercise.id %></h2>
	
			<p>
			  <strong>Question:</strong>
			  <%= raw @exercise.question %>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<%= render 'layouts/messages' %>
</div>

<div class="row">
	
	<% if current_user.visual_interface? %>
		<div class="small-12 columns">
	<% else %>
		<div class="small-9 small-centered columns">
	<% end %>
	

		<%= render :partial => 'queries/form'  %> 
	</div>
</div>


<div class="exercise-footer">
	<div class="row">
		<div class="small-12 columns">
			
			<div id="corrals">
				
				<fieldset id="columnCorral" class="corral">
					<legend>Columns</legend>
					<div class="draggable column-block" data-blockType="column">name</div>
					<div class="draggable column-block" data-blockType="column">habitat</div>
					<div class="draggable column-block" data-blockType="column">diet</div>
					<div class="draggable column-block" data-blockType="column">nocturnal</div>
					<div class="draggable column-block" data-blockType="column">weight</div>
				</fieldset>
	
				<fieldset id="operatorCorral" class="corral">
				 	<legend>Operators</legend>
					<% for op in @operators %>
						<div oid="<%= op.id %>" class="draggable operator-block" data-blockType="operator">
							<p class="<%= op.name %>"><%= raw op.html_representation %></p>
						</div>
					<% end %>
				</fieldset>
	
				<fieldset id="complexOperatorCorral" class="corral">
				 	<legend>Extenders</legend>
					<div class="draggable complexOperator-block and-block" data-blockType="and"><br><p>and</p></div>
					<div class="draggable complexOperator-block or-block" data-blockType="or"><p>or</p></div>
				</fieldset>
				
			</div> <!-- /corrals -->
			
		</div>
	</div>
</div>