<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= raw @exercise.question %>
</p>

<p>
	<%= render :partial => 'queries/form'  %> 
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
