<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
	<%= link_to "Script Kitty", root_path, class: "navbar-brand" %>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">

	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Tables
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <%= link_to "Schools", schools_path, class: "dropdown-item" %>
				  <%= link_to "Locales", locales_path, class: "dropdown-item" %>
				  <%= link_to "Websites", websites_path, class: "dropdown-item" %>
	        </div>
	      </li>

			<% if current_user %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Lessons
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<% @lessons.each do |lesson| %>
							<%= link_to "Lesson #{lesson.id}", lesson_path(lesson.id), class: "dropdown-item" %>
						<% end %>
					</div>
				</li>

		      <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Exercises
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<% @exercises.each do |exercise| %>
							<%= link_to ("Exercise #{exercise.lesson_id}.#{exercise.dummy_id}  #{user_exercise_status(exercise)}").html_safe, lesson_exercise_path(exercise.lesson, exercise), class: "dropdown-item" %>
						<% end %>
		        </div>
		      </li>

				<li class="nav-item" id="topbar-my-progress">
					<%= link_to "My Progress", queries_path, class: "nav-link" %>
				</li>


				<% if current_user.done %>
					<li class="nav-item" id="topbar-wrap-up">
						<%= link_to "Wrap-Up", wrap_up_url, class: "nav-link" %>
					</li>
				<% end %>

			<% end %>

			<li class="nav-item" id="topbar-about">
				<%= link_to "About", about_url, class: "nav-link" %>
			</li>
		</ul>


		<!-- Right Nav Section -->
		<ul class="navbar-nav">
			<% if user_signed_in? %>

				<% if current_user.admin %>
					<li class="nav-item" id="topbar-admin-panel"><%= link_to "Admin Panel", admin_index_path, class: "nav-link" %></li>
				<% end %>

				<% if current_user.educator %>
					<li class="nav-item" id="topbar-educator-panel"><%= link_to "Educator Panel", educator_index_path, class: "nav-link" %></li>
				<% end %>

				<li class="nav-item" id="topbar-my-account"><%= link_to "My Account", edit_user_registration_path, class: "nav-link" %></li>
				<li class="nav-item" id="topbar-logout"><%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
			<% else %>
				<li class="nav-item" id="topbar-create-an-account"><%= link_to "Create An Account", new_user_registration_path, class: "nav-link" %></li>
				<li class="nav-item" id="topbar-login"><%= link_to "Login", new_user_session_path, class: "nav-link"  %></li>
			<% end %>
		</ul>
	</div>
</nav>