<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to "Script Kitty", root_path %></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<!-- Left Nav Section -->
	  	<ul class="left">
			<li class="divider"></li>
			<li class="has-dropdown not-click">
			      <a href="#">Tables</a>
			      <ul class="dropdown">
			          <li><%= link_to "Schools", schools_path %></li>
					  <li><%= link_to "Locales", locales_path %></li>
					  <li><%= link_to "Websites", websites_path %></li>
				  </ul>
			</li>

			<li class="divider"></li>
			<% if current_user %>

				<li class="has-dropdown not-click">
					<%= link_to "Lessons", lessons_path %>

					<ul class="dropdown">

						<% for lesson in Lesson.all %>
							<li class="has-dropdown not-click">
								<%= link_to "Lesson #{lesson.id}", lesson_path(lesson.id) %>

								<ul class="dropdown">
									<li><label><%= "Lesson #{lesson.id}" %></label></li>
									<% for exercise in lesson.exercises %>
										<li class="exercise">
											<%= link_to ("Exercise #{exercise.lesson_id}.#{exercise.dummy_id}  " + user_exercise_status(exercise)).html_safe, lesson_exercise_path(lesson, exercise) %>
										</li>
									<% end %>
								</ul>
							</l>
						<% end %>

					</ul>
				</li>

				<li class="divider"></li>

					<li>
						<% if current_user.admin %>
							<%= link_to "All Queries", queries_path %>
						<% else %>
							<%= link_to "My Progress", queries_path %>
						<% end %>
					</li>

				<li class="divider"></li>

			<% end %>

		</ul>

		<!-- Right Nav Section -->
		<ul class="right">
			<% if user_signed_in? %>
				<li class="divider"></li>
				<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li class="divider"></li>
				<li><%= link_to "Login", new_user_session_path  %></li>
				<li class="divider"></li>
				<li><%= link_to "Create An Account", new_user_registration_path %></li>
			<% end %>
		</ul>
	</section>
</nav>