<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Learn how to use SQL to retreive information from a database; no prior experience necessary.">
		<meta name="keywords" content="SQL,Tutorial">
		<meta name="author" content="Dan Guzek">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Script Kitty</title>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>

		<script src="https://www.google.com/jsapi"></script>


		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/topbar' %>
		<div class="container-fluid">
			<%= yield %>
		</div>
	</body>
</html>